<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db.properties"/>

    <settings>
        <!--属性名与表格字段名不一致，将驼峰形式映射成下划线形式-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--STDOUT_LOGGING为默认日志工厂-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="niit.start.pojo.User" alias="User"/>
        <typeAlias type="niit.start.pojo.Blog" alias="Blog"/>
        <!--package方式,对包中所有实体类应用别名，可用@Alias注解定制别名，不指定则用类名的小写或除首字母小写作别名-->
        <package name="niit.start.pojo.pagehelper"/>
        <package name="niit.start.pojo.school"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${local.driver}"/>
                <property name="url" value="${local.url}"/>
                <property name="username" value="${local.username}"/>
                <property name="password" value="${local.password}"/>
            </dataSource>
        </environment>
        <environment id="vm">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${vm.driver}"/>
                <property name="url" value="${vm.url}"/>
                <property name="username" value="${vm.username}"/>
                <property name="password" value="${vm.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="niit/start/mapper/UserMapper.xml"/>
        <mapper resource="niit/start/mapper/UserMapMapper.xml"/>
        <mapper class="niit.start.mapper.UserAnnotationMapper"/>
        <!--接口和Mapper配置文件必须同名，并且在同一个包下，才能使用以下方式注册Mapper-->
        <mapper class="niit.start.mapper.BlogMapper"/>
        <mapper class="niit.start.mapper.pagehelper.PageHelperMapper"/>
        <package name="niit.start.mapper.school"/>
    </mappers>

</configuration>